.lab-canvas {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lab-dropzones {
  width: 80%;
  height: 75%;
  background: white;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 30px;
}
