.equipment-shelf{
  grid-row:1/3;
  background:white;
  padding:10px;
  overflow-y:auto;
  border-right:2px solid #ccc;

}

.equipment-item{
  border:1px solid #ddd;
  padding:6px;
  margin-bottom:10px;
  text-align:center;
  background:#fafafa;
  cursor:grab;

}

.equipment-item img{
  width:60px;
  height:60px;
  object-fit:contain;
}