.main-layout {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white; 
  
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.main-content {
  margin-top: 70px; 
  
  padding: 2rem;
  
  width: calc(100% - 260px);
  margin-left: 260px; 
  
  min-height: calc(100vh - 70px);
}